body{
    background-image: url(/Images/tequilla_Background.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

}
a{  
    text-decoration: none;
    text-align: right;
    color:#ffffff; 
    font: Garamond;
    font-size: 250%;;

    
}
h1{
    text-align: right;
    color:#F2E6B7; 
    font: Garamond;
    font-size: 650%;
    line-height: 25px;
    margin-bottom: 0;
    
}
h2{
    text-align: right;
    color:#ffffff;  
    font: Garamond;
    margin-top: 1;
    
    
}

.hidden{
    color:#f2e6b700;
}
.sidebar {
    float: right;
    display:block;
    flex-direction: column;
}
.item{
    height: 100px;
    width: 175px;
}
.box1{
    flex-grow: 1;
    text-align: right;
    
}
.box2{
    flex-grow: 3;
    text-align: right;
}
.box3{
    flex-grow: 3;
    text-align: right;

}

.bottombar{
    background-color:#141414 ;
    padding: 15px;
    display: flex;
    position:absolute;
    left:0;
    bottom:0;
    width: 100%;
    
}
.img{
    height: 1%;
    width: 1%;
}